// Reference Variables & Mixins
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//@import (reference) "/imports/styles/lib/mixins.scss";

// Quick-About Component
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.component-wrapper {
  &.quick-about-component {
    margin-bottom: 30px;

    .logo-group {
      .glyphicon {
        top: 6px;
        margin: 0 30px;
      }
    }

  }
}
