<template name="quickAboutComponent">
    <div class="component-wrapper quick-about-component">

        <div class="card border-secondary mb-5">
            <div class="card-body">
                <h4 class="card-title">Want to be a Cryptolympic Torch Runner?</h4>
                <div class="card-text">
                    <p>Take the Cryptolympic Torch and Run it! How many kilometers can you go?</p>
                    <p>Torch Runners earn <strong><em>KMS Tokens</em></strong> when they Take the Torch.  It's simple: The more Ethereum you pay, the more <strong><em>KMS Tokens</em></strong> you earn!</p>
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-body">
                            <p class="card-text">As a Holder of <strong><em>KMS Tokens</em></strong>, you will earn dividends from everyone that Runs the Torch after you.  You can even run again and earn more <strong><em>KMS Tokens</em></strong>!</p>
                        </div>
                    </div>
                    <p><strong><em>KMS Tokens</em></strong> are considered the number of Kilometers you ran with the Torch which contributes to the total distance the Torch has travelled across the Globe!</p>
                    <p>Be sure to place your marker and let everyone know where the Torch has been!</p>
                    <p class="text-right"><a href="#" data-toggle="modal" data-target="#aboutModal" role="button"><em>learn more</em></a></p>
                </div>
            </div>
        </div>

    </div>
</template>
